!!! 5
/[if lt IE 8] <html class="no-js ie8 lt-ie8">
/[if IE 8] <html class="no-js ie8">
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
%head
  %meta{ charset: 'utf-8' }
  %meta{ 'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge' }
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }

  %title InCahoots

  = stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "admin", "data-turbolinks-track" => true
  = csrf_meta_tags

  %body
    %header#header
      %h1 InCahoots

    - if current_admin.present?
      = link_to 'Logout', destroy_admin_session_path, method: :delete

    #messages
      - if alert.present?
        .alert= alert
      - if notice.present?
        .notice= notice

    #content
      = yield
