%h2= (@project.new_record? ? 'New project' : 'Edit project')

= link_to 'Back to projects', admin_projects_path

= form_for [:admin, @project] do |f|

  = f.label :title
  = f.text_field :title

  = f.label :description
  = f.text_area :description

  = f.label :url
  = f.text_field :url

  = f.label :content
  = f.text_area :content

  = f.submit (@project.new_record? ? 'Create' : 'Save')