%h2= (@project.new_record? ? 'New project' : 'Edit project')

= link_to 'Back to projects', admin_projects_path

= form_for [:admin, @project] do |f|

  .field
    = f.label :title
    = f.text_field :title

  .field
    = f.label :image
    - if @project.image.present?
      = image_tag @project.image.url(:medium)
    = f.file_field :image

  .field
    = f.label :description
    = f.text_area :description

  .field
    = f.label :url
    = f.text_field :url

  .field
    %div
      = link_to 'Images', admin_content_images_path, target: '_blank'
    = f.label :content
    = f.text_area :content

  = f.submit (@project.new_record? ? 'Create' : 'Save')

  - unless @project.new_record?
    = link_to 'Delete', admin_project_path(@project), method: :delete